@import url(https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.css);

html {
  background: #FFE4E1;
  height: auto !important;
}

body {
  background: transparent;
  font-family: 'NanumSquareRound';
  font-size: 15px;
}

header #header-bar>.row{
  padding-top:.3em;
  padding-bottom:.3em;
  border-top:5px solid #f8ca00;
  border-bottom: none;
  border-right: none;
  z-index:200;
  border-radius:6px
}

header #header-bar .fa {
  color: #f8ca00;
}

header #header-bar #header-top-notice strong.notice-badge {
  background: #fc9d9a;
  padding:4px 8px;
  color:#fff;
  font-weight:700
}

header .row>div:nth-child(1)>a{
display:block
;width:145px;
height:50px;
background:url(https://tgd.kr/assets/images/logo_new.png) no-repeat
}

header .row>div:nth-child(1)>a img{
opacity:0
}

header #right-search-form>#right-search-btn{
  color: #f8ca00;
  background:0 0;
  border:none;
  font-size:1.4em
}

header #right-search-form>input[type='text'] {
  border: 3px solid #f8ca00;
}

#main .menu-wrapper{
  border-right:0;
  border-bottom:0;
  border-radius:6px;
  background:0 0
}

#main .menu-wrapper>a>em {
  color: #f8ca00;
  text-decoration: none;
  font-style: normal;
  width: 24px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

#main .menu-wrapper>a>i.fa.fa-square {
    width: 24px;
    display: inline-block;
    text-align: center;
    font-size: 0.1em;
    color: #f8ca00;
    vertical-align: 0.2em;
}

#main .menu-wrapper .spacer {
  background: #FFE4E1;
  height: 0.15em;
}

#main .menu-wrapper>.header {
  background: #f8ca00;
  color: #fff;
  padding: 0.45em 1.4em 0.45em 1em;
  font-weight:700;
  border-radius:6px 6px 0 0
}

#board-info {	
  background-color: #f8ca00;
  width: 100%;	
  height: 75px;	
  overflow: hidden;	
  line-height: 1;
  border-right:0;
  border-radius:6px;
 }

#board-info h1 {	
  background-color: #f8ca00;	
  font-size: 24px;	
  vertical-align: top;	
  padding-bottom: 3px;	
  border-bottom: 0px solid #fff;	
}

#board-info h1>a {	
  text-decoration: none;	
  color: #ffffff;	
  font-weight: bold;	
}

#board-info #board-info-bottom a {	
  font-size: 12px;	
  color: #ffffff;	
  display: inline-block;	
  padding: 0 8px;	
  text-decoration: none;	
  border-right: 1px solid #ebebeb;	
}	

#board-info #board-info-profile-img {
  width: 3.5em;
  height: auto;
}

.pull-right {
  float: left!important;
}

.fa-user:before {	
  content: "\f007";	
  color: #ffffff;	
}	

#board-info #viewers-area {	
  font-size: 14px;	
  color: #ffffff;	
  font-weight: normal;	
  vertical-align: middle;	
  line-height: 18px;	
  display: inline-block;	
}	

#board-info #viewers-area #viewers:before {	
  content: "계란 ";	
}		
#board-info #viewers-area #viewers:after {	
  content: "알 대기 중";	
}	

#board-info #viewers-area .fa-user:before {
    color: rgba(10, 59, 84, 0);
    content: url("https://i.imgur.com/78hydwf.png");
}

.fa-info-circle:before {	
  content: "\f05a";	
  color: #ffffff	
}	

.badge {	
  display: inline-block;	
  padding: 0px 0px;	
  font-size: 12px;	
  font-weight: 700;	
  line-height: 1;	
  color: #ffffff;	
  text-align: left;	
  white-space: nowrap;	
  vertical-align: middle;	
  background-color: #f8ca00;	
  border-radius: 0px;	
}	
	
.fa-star-o:before {	
  content: "\f006";	
  color: #fff;	
}	

#article-list{
  margin:0;
  padding:0 0 2em;
  background:#fff;
  border-radius:6px
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span{
  color: #4C4646;
}

#article-list>.article-list-row>.item>.list-header>span{
  background-color: #f8ca00;
  color:#fff;
  font-weight:7;
  padding:1px 5px;
  font-size:11px;
  border-radius:100px
}

#article-list #article-list-category {
  background: #f8ca00;
  border-radius:6px 6px 0 0;
  margin-top:10px
}

#article-list #article-list-category > a {
  display:inline-block;
  padding:11px 16px;
  background: #f8ca00;
  text-decoration:none;
  font-size:12px;
  font-weight:700;
  color:#fff
  border-radius:6px 6px 0 0
}

#article-list #article-list-category > a:hover {
  animation: infinite AquaLinkBG 2s;
}

#article-list #article-list-category > a.active, #article-list #article-list-category>a:hover {
  background: #FFFACD ;
}

#article-info,
#article-list #article-list-category>a.active,
#article-list #article-list-category>a:hover,
h3{
  background: #f8ca00;
}

@keyframes AquaLinkBG {
    0% {
        background-color: #f8ca00;
    }
    40% {
        background-color: #fffacd;
    }
    100% {
        background-color: #f8ca00;
    }
}

.pagination>li>a,
.pagination>li>span {
  border: 1px solid #f8ca00;
}

.pagination>li>a:hover {
  animation: infinite AquaLinkBG 1.5s;
}

.pagination>li>a:focus,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #fffacd;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #fffacd;
  border-color: #f5ec9d;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover {
  border: 1px solid #f8ca00;
}

.btn-primary{
  background: #fec8c9;
  border: 1px solid #fec8c9;
}
.btn-primary:hover{
  animation: infinite AquaLinkBG 2s;
}

#article-list>.article-list-row.notice{
  background: #c6e5d9;
}

#article-content-wrapper>.header {
  border-top: 3px solid #fe4365;
  background: #fffacd;
}

#article-content-wrapper>.footer {
  background: #fffacd;
}

#article-reply-area{
  margin:0 auto;
  background:#fff;
  width:848.66px;
  border-radius:6px 6px 0 0
}
#article-reply-area>.header{
  width:848.66px;
  background: #f8ca00;
  margin:0 auto;
  border-radius:6px 6px 0 0;
  padding:1em
}
#article-reply-area>.header h5 {
  color: #fffacd;
}
#lastc{
  color:#fff
}
#article-reply-area #reply-best-area,
#article-reply-area #reply-real-area{padding:0}
#article-reply-area #reply-best-area .reply,
#article-reply-area #reply-real-area .reply{border:0}
#article-reply-area #reply-best-area .reply>.reply-header,
#article-reply-area #reply-real-area .reply>.reply-header{
  background: #fffacd;
  width:auto;
  padding:.5em 1em
}
#article-content-wrapper>.vote-area,
#article-reply-area #reply-best-area .reply>.reply-content,
#article-reply-area #reply-real-area .reply>.reply-content{
  border:0;
  background:#fff
}
#article-reply-area #reply-best-area .reply>.reply-content{
  background:#fff4ea
}
#article-reply-area #reply-best-area .reply>.reply-content p,
#article-reply-area #reply-real-area .reply>.reply-content p{
  padding:0 1em
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
  color: #f8ca00;
}

#article-info>h2>span.category {
  color: #fff !important;
}

#article-info{
  width:848.66px;
  margin:10px auto 0;
  border-radius:6px 6px 0 0;
  padding:.5em 1em
}

#article-info *{
  color:#fff !important
}

#article-list>.article-list-row>.item>.list-header>strong,
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span,
#article-list>.article-list-row>.item>.list-title>a,body{
  color: #4C4646
}
#article-info>h2{
  font-weight:700
}

#article-content-wrapper #article-content{
  border:0;
  background:#fff;
  padding:1em 1.5em
}

#comment-write-form-area{
  padding:0 1em 1em
}

span.a-badge i.fa.fa-info-circle {
  color: #fffacd;
}

#main #main-content>div.frame,
#main .menu-wrapper{
  border-right:0;
  border-bottom:0;
  border-radius:6px;
  background:0 0
}

#main #main-content>div.frame,
#main .menu-wrapper{border-right:0;border-bottom:0;border-radius:6px;background:0 0}
