@import url(https://sogether.github.io/tgd/css/emotes.css);

:root{--main-color:#f87d92;--link-color:#9fdda5;--light-pink:#f59ba5;--light-yellow:#e3f6dd;--green:#c8eebb;--light-green:#f1faee;--text-color:#4C4646}

body,html{
  height:auto!important;
  background:linear-gradient(to bottom,#ffedeb,#ffc5c3)
}

header .row>div:nth-child(1)>a{
  display:block;
  width:145px;
  height:50px;
  background:url(https://sogether.github.io/tgd/images/logo_pink.png) no-repeat
}

header .row>div:nth-child(1)>a img{opacity:0}

header #header-bar{
  margin-top:1em;
  margin-bottom:1em;padding-right:30px;
  padding-left:30px
}

header #header-bar #header-top-notice a,header #header-bar a.dropdown-toggle{
  color:var(--text-color)
}

header #right-search-form>#right-search-btn{
  color:var(--main-color);
  background:0 0;border:none;
  font-size:1.4em
}

header #right-search-form>input[type=text]{
  position:relative;
  border:3px solid var(--main-color);
  background:#fff;
  font-size:1.1em;
  padding:.3em .5em
}

header #header-bar>.row{
  padding-top:.3em;
  padding-bottom:.3em;
  border-top:5px solid var(--main-color);
  border-bottom:2px solid #ebeae8;
  border-right:0 solid #ebeae8;
  z-index:200;border-radius:6px
}

#main #main-content>div.frame,#main .menu-wrapper{
  border-right:0;
  border-bottom:0;
  border-radius:6px;
  background:0 0
}

header #header-bar #header-top-notice strong.notice-badge{
  background:var(--main-color);
  padding:4px 8px;
  color:#fff;font-weight:700
}

#main .menu-wrapper>.header{
  background:var(--main-color);
  color:#fff;
  padding:.45em 1.4em .45em 1em;
  font-weight:700;
  border-radius:6px 6px 0 0
}

#board-info #board-info-bottom a,#board-info #viewers-area,#board-info h1>a,#main .menu-wrapper>a{
  color:var(--text-color)
}

#main .menu-wrapper>a>em,.pagination>li>a,.pagination>li>span{
  color:var(--main-color)
}

.pagination>li>a:hover{
  background-color:var(--light-pink);
  color:#fff
}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{
  background-color:var(--main-color);
  border-color:var(--main-color)
}

#article-content-wrapper>.header{
  border-top:3px solid var(--main-color);
  background:var(--green)
}

#article-content-wrapper>.footer{
  background:var(--green)
}

#article-list{
  margin:0;
  padding:0 0 2em;
  background:#fff;
  border-radius:6px
}

#article-list>.article-list-row>.item>.list-header>span{
  background-color:var(--main-color);
  color:#fff;
  font-weight:7;
  padding:1px 5px;
  font-size:11px;
  border-radius:100px
}

#article-list>.article-list-row:hover .item>.list-header.v0>span,#article-list>.article-list-row>.item>.list-header.v0>span:hover{
  background-color:var(--light-green)!important
}

#article-list #article-list-category{
  border-top:3px solid var(--main-color);
  background:var(--main-color);
  border-radius:6px 6px 0 0;
  margin-top:10px
}

#article-list #article-list-category>a{
  display:inline-block;
  padding:11px 16px;
  background:var(--main-color);
  text-decoration:none;
  font-size:12px;
  font-weight:700;
  color:#fff!important;
  border-radius:6px 6px 0 0
}

#article-reply-area #reply-best-area .reply,#article-reply-area #reply-real-area .reply{border:0}
#article-reply-area>.header h5,#lastc{color:#fff}
#article-reply-area #reply-best-area,#article-reply-area #reply-real-area{padding:0}
#article-reply-area #reply-best-area .reply>.reply-header,#article-reply-area #reply-real-area .reply>.reply-header{
  background:var(--green);
  width:auto;
  padding:.5em 1em
}

#article-reply-area #reply-best-area .reply>.reply-content p,#article-reply-area #reply-real-area .reply>.reply-content p{padding:0 1em}

#article-reply-area>.header{
  width:848.66px;
  background:var(--main-color);
  margin:0 auto;
  border-radius:6px 6px 0 0;padding:1em
}

#article-content-wrapper>.vote-area,#article-reply-area #reply-best-area .reply>.reply-content,#article-reply-area #reply-real-area .reply>.reply-content{border:0;background:#fff}
#article-reply-area #reply-best-area .reply>.reply-content{background:#fff4ea}
#article-info,#article-list #article-list-category>a.active,#article-list #article-list-category>a:hover,h3{background:var(--main-color)}
#article-reply-area{
  margin:0 auto;
  background:#fff;
  width:848.66px;
  border-radius:6px 6px 0 0
}

#board-info{
  display:flex;
  border-right:0;
  border-radius:6px;
  overflow:inherit;
  padding:0.5em 1em;
  background:#fff;
  height:44px
}

#board-info h1{
  font-size:18px;
  border-bottom:0
}

#board-info #board-info-profile-img{
  border-radius:50%;
  border:3px solid var(--main-color);
  float:left!important;
  margin-right:10px;
  margin-top:-14px;
  height:60px;width:60px
}

#board-info #viewers-area{padding:5px}
#board-info #viewers-area #viewers:before{content:"»ì¾Æ³²Àº ´Ñ°Õ ";cursor:text}
#board-info #viewers-area #viewers:after{content:"ìÑ";cursor:text}
#board-info #board-info-bottom a{
  display:inline-block;
  padding:10px 10px 10px 20px;
  border:0
}

#board-info #board-info-bottom{
  padding:0;
  flex:auto;
  text-align:right
}

#board-info #viewers-area .fa-user:before{
  color:var(--text-color);
  content:url(https://static-cdn.jtvnw.net/badges/v1/01a4c110-d52a-4915-b4bf-38886b226479/1)
}

#article-info{
  width:848.66px;
  margin:10px auto 0;
  border-radius:6px 6px 0 0;
  padding:.5em 1em
}

#article-info *{color:#fff!important}
#article-list>.article-list-row>.item>.list-header>strong,#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span,#article-list>.article-list-row>.item>.list-title>a,body{color:var(--text-color)}
#article-info>h2{font-weight:700}
#article-content-wrapper #article-content{
  border:0;
  background:#fff;
  padding:1em 1.5em
}

#comment-write-form-area{padding:0 1em 1em}
#article-list #article-list-menu>.btn.best>.fa.fa-star:before,.btn-outline-success>i.fa.fa-thumbs-up:before,span.a-badge i.fa.fa-star:before{content:url(https://sogether.github.io/tgd/images/heart.png)}
#article-list #article-list-menu>.btn.write{margin-right:1em}
h3{
  font-size:24px;
  padding:8px!important;
  border-radius:6px 6px 0 0;
  color:#fff;margin-top:-14px
}

.panel-title{
  background:0 0
}

#articleWriteForm{
  background:#fff;
  padding:20px;
  border-radius:6px
}

.btn-primary{
  background:var(--main-color);
  border-color:#fff
}

.btn-primary:active,.btn-primary:focus,.btn-primary:hover{
  background-color:var(--main-color)!important;
  border:none
}

.menu-wrapper div.spacer{
  pointer-events:none
}

#article-list>.article-list-row.notice{
  background-color:var(--light-yellow)
}

#article-list>.article-list-row.notice:hover,#article-list>.article-list-row:hover{
  background-color:var(--light-green)!important
}

#article-list>.article-list-row,#article-list>.article-list-row>.item>.list-blocked,#article-list>.article-list-row>.item>.list-category,#article-list>.article-list-row>.item>.list-checkbox,#article-list>.article-list-row>.item>.list-header,#article-list>.article-list-row>.item>.list-time,#article-list>.article-list-row>.item>.list-title{border:0}
header>#header-search-bar #header-search-input{border:2px solid #06c}
header>#header-search-bar #header-search-btn{color:#09f}
.fr-toolbar{border-top:5px solid var(--text-color)}

#article-list #article-list-menu>.btn.best,.btn-outline-success{
  border-color:var(--main-color);
  color:var(--main-color)
}

.fr-popup .fr-command.fr-btn,.fr-toolbar .fr-command.fr-btn{color:var(--text-color)}
span.a-badge i.fa.fa-star{color:var(--main-color)}

#article-list #article-list-menu>.btn.best{
  margin-left:1em
}

header{
  min-width:1100px;
  padding-bottom:0;
  background:url(https://sogether.github.io/tgd/images/goldd.png) 50% -5px no-repeat;
  background-size:75px auto
}

.badge{background:var(--main-color)}