@font-face {
  font-family: "TDTDTadakTadak";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/TDTDTadakTadak.woff") format("woff");
}
